<div class="row">

  <div class="col-md-3">

    <h3>About Me:</h3>
    <div class="thumbnail">
      <img src="<%= @twitter_photo_url %>" />
      <div class="caption">
        <%= Feedr::Application::BIO.html_safe %>
      </div>
    </div>

    <h3>Recent Tweets:</h3>
    <ul class="list-group">
      <% @tweets.each do |tweet| %>
        <li class="list-group-item"><b><%= tweet.created_at.strftime("%m/%d/%Y %I:%M%p") %></b>: <%= auto_link(tweet.text, :html => { :target => '_blank' }) %></li>
      <% end %>
      <li class="list-group-item"><a href='http://twitter.com/ryanmcadler' target='_blank'>More...</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <h3>Recent Instagram</h3>
    <% @instagramfeed.each do |post| %>
    	<div class="thumbnail ig-thumb">
    		<div class="image"><%= image_tag(post[:images][:standard_resolution][:url], :class => "img-polaroid") %></div>
    		<div class="caption"><%= post[:caption][:text] %></div>
    	</div>
    <% end %>
    <a href="#top" title="Scroll back to the top" class="btn btn-mini backToTop">Back to the top</a>
  </div>

</div>
